<!--press html and choose html 5 for boiler code-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addProduct</title>
    <link rel="stylesheet" href="/product.css" />
    </head>
    <body>
    <header class="main-header">
        <nav class="main-header-nav">
        <ul class="main-header-item-list">
            <li class="main-header-item"><a href="/">Shop</a></li>
            <li class="main-header-item">
            <a class="active" href="/admin/add-product">Add Product</a>
            <li class="main-header-item">
            <a class="active" href="/contactus">ContactUs</a>
            </li>
            </li>
        </ul>
        </nav>
    </header>
    <main>
        `<form action="/admin/add-product" method="POST"><input type="text" name="uname">
         <input type="text" name="size"><button type="submit">Send</button></form>`
    </main>
</body>
</html>